<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
<h1>New Patient</h1>

<%= render 'form' %>

<br>
<%= link_to 'Back', patients_path , class:"btn btn-info" %>
</div>
  <div class="col-md-4"></div>
</div