<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
<h1>Editing Doctor</h1>
<br>

<%= render 'form' %>
<br>
<%= link_to 'Show', @doctor , class:"btn btn-info"%> |
<%= link_to 'Back', doctors_path , class:"btn btn-info"%>
</div>
  <div class="col-md-4"></div>
</div>