<!DOCTYPE html>
<html>
<head>
  <title>application</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <ul class="nav nav-pills">
  <li role="presentation" ><a href="https://first-application-ahmed007.c9users.io/patients">Patient</a></li>
  <li role="presentation"><a href="https://first-application-ahmed007.c9users.io/doctors">Doctor</a></li>
</ul>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-7">
<%= yield %>
</div>
  <div class="col-md-2"></div>
</div>
</body>
</html>
